$L1: #5A80F3;
$L2: #8DA9FF;
$B1: #08090B;
$B2: #3E4349;
$B3: #8C8E93;
$B4: #BDC1C3;
$R: #FF5A5A;
$Y: #F7810D;
$G: #36BF2C;

$W1: #FFF;
$W2: rgba(255, 255, 255, 0.9);
$W3: rgba(255, 255, 255, 0.6);
$W4: rgba(255, 255, 255, 0.3);

// 页面背景色
$O1: #F0F1F2;

// 分割线
$O2: #D9D9D9;

// 局部背景底色？
$O3: #F0F2F5;

// 置灰填充色
$O4: #F7F7F7;

// 遮罩
$O5: rgba(0, 0, 0, 0.3);

// 深背景底板
$O6: #5A5C62;

$C01: #9D81F1;
$C02: #4BC6F3;
$C03: #1AB9A6;
$C04: #EC79AD;
$C05: #5BC3C5;
